@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --primary-color: #1A0051;
    --secondary-color: #87f7f7;
    --text-color: #000000;
    --gray-color: rgb(216, 219, 219);
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

main {
    margin: 50px 50px;
}


.nav {
    padding: 5px 5%;
    background-color: var(--primary-color);
}

.navbar1,
.navbar2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li,
a,
button {
    color: #edf0f1;
    text-decoration: none;
}


.logo {
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}


.white-button {
    color: #292b2c;
    padding: 7px 20px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.white-button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.blue-button {
    color: #ffffff;
    padding: 7px 20px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.blue-button:hover {
    background-color: rgba(5, 3, 41, 1);
}

.navbar2 {
    justify-content: flex-end;
}

.search-bar {
    width: 100%;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 60px;
    padding: 3px 6px;
    display: flex;
    align-items: center;
    margin-right: 300px;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 5px 10px;
    color: #e1e0e6;
}

::placeholder {
    color: #7c7b8f;
}

.search-bar button img {
    width: 20px;
}

.search-bar button {
    border-radius: 50px;
    width: 30px;
    height: 30px;
    background: #7d83a8;
    cursor: pointer;
    padding: 0px 0px;
    border: none;
    transition: all 0.3s ease 0s;
}

.home-image-container {
    display: flex;
    height: 50vh;
    width: 100vw;
    overflow: hidden;
    background-color: white;
    margin-top: 10px;

}

.homepage-image {
    flex: 1;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: white;
}

.left {
    clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
    background-color: var(--secondary-color); 
}

.right {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
    background-image: url('../Assets/images/homeimage.png');
    background-size: 100% 100%;
    margin-left: -25%
}

footer {
    background-color: #333; /* Set your desired background color */
    color: white; /* Set text color */
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.footer-column {
    flex: 1;
    padding: 10px;
    text-align: center;
}

.grid-donations {
    display: grid;
    gap: 4rem;
    padding-block: 2rem;
    width: min(95%, 70rem);
    margin-inline: auto;
}

.grid-donations .card {
    max-width: 300px;
    text-align: center;
    height: 350px;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: var(--gray-color);
}

.grid-donations .card .image {
    height: 200px;
    /* Set a fixed height for the image container */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
}

.grid-donations .card .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

@media (min-width: 40em) {
    .grid-donations {
        grid-template-columns: repeat(3, 1fr);
    }

}