<?php require APPROOT . '/views/includes/header.php' ?>
<main>
    
<h1 style="color: rgb(14, 123, 173);">Welcome to Give4Good - Changing Lives, One Donation at a Time</h1>

<p>At Give4Good, we're on a mission to make the world a better place through the power of giving. We believe that small acts of kindness, when multiplied, can create a profound impact on the lives of those in need. Our platform is a vibrant community where people come together to support causes they are passionate about and to make a difference in the world.</p>

<h2 style="color: rgb(14, 123, 173);">Why Give4Good?</h2>

<p>Give4Good is not just a donation platform; it's a movement driven by compassion, generosity, and the desire to effect positive change. Our commitment is to provide a safe, user-friendly, and transparent space where individuals, nonprofits, and community organizations can raise funds for their vital projects. We strive to connect those with the means to help with those who need it the most.</p>

<h2 style="color: rgb(14, 123, 173);">How it Works</h2>

<p>On Give4Good, you'll discover a diverse range of causes, from humanitarian aid to education, healthcare, disaster relief, and so much more. You can explore, contribute, or start your own fundraising campaign with ease. Whether you're donating to an urgent cause or launching a personal fundraiser, we're here to empower you every step of the way.</p>

<h2 style="color: rgb(14, 123, 173);">Join Our Community</h2>

<p>Join our ever-growing community of passionate individuals who believe in the power of generosity and the impact of collective giving. Your support, no matter how big or small, can make a world of difference. Together, we can create a brighter, more equitable, and compassionate world.</p>

<h2 style="color: rgb(14, 123, 173);">Get Started</h2>

<p>Ready to start changing lives and making a positive impact? Join Give4Good today, and let's work together to turn dreams into reality, one donation at a time.</p>

</body>
</html>

</main>
<?php require APPROOT . '/views/includes/footer.php' ?>