<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>

  <link href="">
  <link rel="stylesheet" href="h_style7.css">
  <script src="https://kit.fontawesome.com/9e9a03ae37.js" crossorigin="anonymous"></script>
<style>

.dashDetails {
    display: flex;
    justify-content: space-between;
}

</style>
</head>

<body>
  
  <div class="side-nav">
    <a href="#" class="logo">
      <img src="LogoBlack.png" alt="" class="LOGO-img">
    </a>
    <ul class="nav-links">
      <li><a href="#"><i class="fa-solid fa-user"></i><p>Profile</p></a></li>
      <li><a href="#"><i class="fa-solid fa-people-group"></i><p>Categories</p></a>
        <li class="dropdown">
          <li><a href="#">Education</a></li>
          <li><a href="#">Sports</a></li>
          <li><a href="#">Housing</a></li>
          <li><a href="#">Health</a></li>
          <li><a href="#">Natural Disasters</a></li>
          <li><a href="#">Environment</a></li>
          <li><a href="#">Animals</a></li>
          <li><a href="#">Community</a></li>
      </li>
      <li><a href="#"><i class="fa-solid fa-right-from-bracket"></i><p>Log out</p></a></li> 
      <div class="active"></div>
    </ul>
  </div>


</body>
</html>